<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Get user {{data.message.id}}</title>
  </head>
  <body>
    <div>Id: {{data.message.id}}</div>
    <div>Name: {{data.message.name}}</div>
    <div>Surname: {{data.message.surname}}</div>
    <div>Age: {{data.message.age}}</div>
    <br>
    <a href="http://localhost:3000/users/{{data.message.id}}/pets">Get pets</a>
    <br><br>
    <a href="http://localhost:3000/users">Back</a>
    <br>
    <form action="http://localhost:3000/users/{{data.message.id}}/delete" method="POST">
      <p>
        <button>
          Delete this user
        </button>
      </p>
    </form>
    <br><br>
    <form action="http://localhost:3000/users/{{data.message.id}}" method="POST">
      <p>
        <label>Name</label>
        <input type="text" name="name">
      </p>
      <p>
        <label>Surname</label>
        <input type="text" name="surname">
      </p>
      <p>
        <label>Age</label>
        <input type="number" name="age">
      </p>
      <p>
        <button>
          Update this user
        </button>
      </p>
    </form>
    <br><br><br>
    <a href="http://localhost:3000">To main page</a>
  </body>
</html>